<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {{ content }}
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="pull-left">For more support check:</p> 
              <ul class="nav nav-pills pull-right">
                <li><a href="mailto:support@CRSsoftware.co.nz">support@crssoftware.co.nz</a></li>
                <li><a href="tel:090057575">Paid support: 0900 57575</a></li>
                <li><a href="http://www.crssoftware.co.nz/cmr/users/courses">Training Courses</a></li>
                <li><a href="http://www.crssoftware.co.nz/cmr/product/video">Training Videos</a></li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        
      </footer>
    </body>
</html>